
.block-tall_links{
  margin-bottom: 0!important;
}
.tall-link{
  display: block;
  height: 300px;
  width: 100%;
  color: $white;
  padding: 25px;
  overflow: hidden;
  position: relative;
  *{
    position: relative;
    z-index: 3;
    margin: 0;
    @include transition(0.25s);
  }
  &:hover{
    color:#ffffff;
    img{
        height:110%;
    }
  }
  img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include media-breakpoint-up(md){
    height: 80vh;
    min-height: 400px;
    max-height: 650px;
    h2{
      font-family: $font-script;
      font-weight: 700;
      font-variation-settings:
        "slnt" -15,
        "CASL" 1,
        "CRSV" 0.5,
        "MONO" 0;
    }
  }
}

