/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$colour-yellow: #FFCC00;
$colour-l-yellow: #FFF1BB;

$dark-grey:#333333;
$med-grey:#989898;
$light-grey:#e9e9e9;
$white: #fff;
$black: #000;

$colour-font-default: $black;

$font-default: 'Poppins', sans-serif;
$secondary-font:'Arial', sans-serif;
